.card {
    height: 700px;
    width: 80%;
    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button {
    width: 100px;
    margin: 10px;
}

.content {
    display: flex;
    justify-content: stretch;
    gap: 200px;
}

.title {
    display: flex;
}

.title > h1 {
    margin: 0;
}

.title > span {
    margin: 10px;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
}

.tree {
    width: auto;
    overflow: auto;
    overflow-y: unset;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.loading {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.errorResult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}