.main {
    width: 100%;
    height: 500px;

    display: flex;
    flex-direction: column;
}

.snippetButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinnerBox {
    margin: 200px;
}

.spin {
    display: flex;
    justify-content: center;
}