.main {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.snippetButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
